@font-face {
    font-family: 'Untitled Sans', 'Untitled serif';
    src: url(font/test_untitled_sans/test-untitled-sans-medium.woff2),
         url(font/test_untitled_sans/test-untitled-sans-regular.woff2),
         url(font/test_untitled_serif/test-untitled-serif-medium.woff2),
         url(font/test_untitled_serif/test-untitled-serif-medium.woff2);
}
:root {
    --font-san-serif: 'test-Untitled', sans-serif;
    --font-serif: 'test-Untitled', serif;
    --font-san-serif: 'Yantramanav', sans-serif;
    --font-serif: 'EB Garamond', serif;
    --black: #000;
    --white: #ffffff;
    /** icon cusser colors **/
    --dark-red: #771C16;
    --warm-red: #782F17;
    --brown: #5D452D;
    --dark-brown: #2B1214;
    --gray: #434444;
    --olive-green: #5A682E;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: var( --font-san-serif);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5 {
    font-family: var(--font-san-serif);
    font-weight: 500;
    color: var(--black);
    font-size: 2rem;
    padding: 0.2rem;
    margin: 0;
  }
  h3 {
    border-bottom: 1.2px solid var(--black);
  }
 .heading__section_hero {
    font-size: 1rem;
 }
 .heading__footer {
    font-size: 5rem;
    color: var(--white);
    background-color: var(--black);
    padding: 0.5rem;
 }

img {
    display: block;
    width: 55%;
    padding: 0.2rem 0rem 0rem;
}
.conponents-img__support {
    width: 25%;
}
.conponents-img__footer {
    width: 45%;
}
.heading-img {
    width: 18%;
}
.heading__hero-heading {
    width: 70%;
}
.heading__whats_on-heading {
    width: 60%;
}
.heading__support-heading {
    width: 170%;
}
.heading__footer-heading {
    width: 350%;
}