:root {
    --font-san-serif: 'Yantramanav', sans-serif;
    --font-serif-sub: 'EB Garamond', serif;
    --black: #000;
    --white: #ffffff;
    /** icon cusser colors **/
    --dark-red: #771C16;
    --warm-red: #782F17;
    --brown: #5D452D;
    --dark-brown: #2B1214;
    --gray: #434444;
    --olive-green: #5A682E;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: var( --font-san-serif);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5 {
    font-family: var(--font-san-serif);
    font-weight: 500;
    color: var(--black);
    padding: 0.2rem;
    margin: 0;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    padding: 1.5rem 0rem 1.5rem;
  }
  h3 {
    border-bottom: 1.2px solid var(--black);
  }

  /* 
  study coding
  */
 .heading__section_hero {
    font-size: 1rem;
 }
 .heading__footer {
    font-size: 5rem;
    color: var(--white);
    background-color: var(--black);
    padding: 0.5rem;
 }
.heading__contents-title {
    font-size: 1rem;
}
.heading__footer-nav-title {
    font-size: 1rem;
}

/*
Conponents setting
*/
div {
    padding: 1rem 0rem 1rem;
}
img {
    display: block;
    width: 55%;
    padding: 0.2rem 0rem 0rem;
}
.conponents-img__support {
    width: 25%;
}
.conponents-img__footer {
    width: 45%;
}
.heading-img {
    width: 18%;
}
.heading__hero-heading {
    width: 80%;
}
.heading__whats_on-heading {
    width: 60%;
}
.heading__support-heading {
    width: 170%;
}
.heading__footer-heading {
    width: 350%;
}
.heading__contents-title {
    width: 75%;
}
.heading__footer_list-title {
    width: 40%;
}
.component-mama_logo {
    width: 15%;
    padding: 0.5rem;
}
.component-mama_logo-black {
    background-color: var(--black);
}
.component-mama_logo-white {
    width: 15%;
    padding-top: 1rem;
}
.lets_beggin {
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--black);
}
.icon-container {
    display: flex;
    flex-direction: row;
    gap: 1rem
}
.icon-color {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--white);
}
.icon-color__1 {
    background-color: var(--dark-red);
}
.icon-color__2 {
    background-color: var(--warm-red);
}
.icon-color__3 {
    background-color: var(--brown);
}
.icon-color__4 {
    background-color: var(--dark-brown);
}
.icon-color__5 {
    background-color: var(--gray);
}
.icon-color__6 {
    background-color: var(--olive-green);
}
.component-icon_brown {
    width: 15%
}