
:root {
  --font-san-serif: 'Yantramanav', sans-serif;
  --font-serif-sub: 'EB Garamond', serif;
  --black: #000;
  --white: #ffffff;
  --gray-scale: #ffffff00;
  --gray-scale-0: rgba(255, 255, 255, 0);
  /** icon cusser colors **/
  --dark-red: #771C16;
  --warm-red: #782F17;
  --brown: #5D452D;
  --dark-brown: #2B1214;
  --gray: #434444;
  --olive-green: #5A682E;
  /*component colors*/
  --dark-gray: rgb(67, 63, 63);
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  background-color: lightgray;
}
body {
  font-family: var( --font-san-serif);
  font-weight: 300;
  font-size: 13px;
  color: var(--black);
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
/* body margin create  -----------^.-.^------------ */
.fixed-logo {
  display: block;
  width: 2.65rem;
  position: fixed;
  top: 8rem;
  margin-left: -0.5;
  padding: 3rem 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-san-serif);
  font-weight: 500;
  color: var(--black);
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li, dl, dt, dd {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/*  study coding -----------^.-.^------------ */
.page-text_intro {
  font-weight: 300;
  font-size: 1rem;
  padding: 0 1rem;
}
.page-text_intro--mememver, .page-tex_intro--join {
  font-size: 0.8rem;
  color: var(--white);
  line-height: 1.5;
  background-color: var(--black);
  padding: 0.5rem;
}
.link-button {
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 1.2px solid var(--black);
  padding-bottom: 0.2rem;
}
.link-button__join-us {
  color: var(--white);
}
.subscription_join {
  border-bottom: 1.2px solid var(--white);
  padding: 0.8rem;
}
/* footer coding --------------------------------footer start*/
.footer_container {
  display: block;
  position: relative;
}
.footer__subscription_submit {
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--white);
  border: none;
  width: 16rem;
}
.join {
  padding: 0.9rem;
  font-weight: 500;
  color: var(--white);
  font-size: 0.7rem;
}
.link-button__close, .link-button__search-mama {
  font-size: 0.9rem;
  font-weight: 400;
}
.fa-solid {
  padding-right: 0.8rem;
}
.container__icon-explore {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.icon-explore {
  width: 4.3rem;
  height: 4.3rem;
  font-size: 0.8rem;
  color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-explore__dark-red {
  background-color: var(--dark-red);
}
.icon-explore__warm-red {
  background-color: var(--warm-red);
}
.icon-explore__brown {
  background-color: var(--brown);
}
.icon-explore__dark-brown {
  background-color: var(--dark-brown);
}
.icon-explore__gray {
background-color: var(--gray);
}
.icon-explore__olive-green {
background-color: var(--olive-green);
}
/*  header /  Navigation    -----------^.-.^------------ */
.header {
  position: sticky;
  top: 10px;
}
.wrapper_nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 1.5rem 0 1.5rem;
  margin: 0;
}
.wrapper_nav-top>* {
  padding: 0;
  margin: 0;
}
.container-nav-top__search>* {
  padding: 0;
  margin:0;
}
.container-nav-top {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  padding: 0 2rem 0 0;
  font-size: 0.9rem;
  font-weight: 400;
}
.nav-list:last-child {
  padding-right: 0rem;
}
.nav-list-link {
  position: relative;
}
.nav-list-link a {
  text-decoration: none;
  color: var(--black);
  padding: 0;
  margin: 0;
}
.nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in;
}
.nav-list-link:hover::after {
  transform: scaleX(1);
}
.components_headings {
  font-weight: 500;
  margin: 0;
  padding: 1rem 0;
}
.compoment-detaile-title {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.components_headings__section_hero {
  font-size: 0.8rem;
}
.components_headings__page {
  font-size: 2rem;
}
.components_headings__footer {
  font-size: 4.3rem;
  color: var(--white);
  background-color: var(--black);
  padding: 3rem 1rem 8rem 5rem;
  margin: 0rem 1rem;
  position: relative;
}
.components_headings__contents-title {
  font-size: 0.85rem;
}
.components_headings__footer-nav-title {
  font-size: 0.9rem;
  color: var(--white);
  background-color: var(--black);
  /* change */
  padding: 1rem;
}
.nav_left__contents-list {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
/*
slideout Navigation table
*/
.nav-slideout-wrapper {
  position: relative;
}
.slideout_nav-top__opening {
  position: absolute;
  top: 24.8rem;
  left: 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
}
.slideout_opening-title {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0;
}
.slideout_opening-dates {
  font-weight: 400;
  padding: 0;
  margin-left: 0;
}
.slideout_opening-free_entry {
  padding: 2rem 0 2rem;
  font-weight: 400;
}
.slideout_opening-title {
  text-align: left;
}
/* slideout contents and hover/hover img setup <<<?   -----------^.-.^------------ */

.slideout_link {
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
}
/* need to fix this effects */
.slideout_link:hover {
  color: var(-black);
  font-weight: bolder;
  transition: transform 200ms ease-in;
}
.slideout_link--plan {
  position: relative;
}
/*
.slideout-hover-img::after {
  content: "";
  position: absolute;
  left: 5rem;
  top: 1rem;
  width: 50%;
  height: auto;
  background-image: url(img/slideout__visit__plan-trip.jpg);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 200ms ease-in;
}
.slideout-hover-imgs:hover::after {
  transform: scaleX(1);
}
*/

/* footer Coding starts here*/
.footer_contents--wrapper {
  padding: 1rem;
  background-color: var(--black);
}
.footer_contents {
  font-size: 0.9rem;
  color: var(--white);
  line-height: 1.5;
}
.footer_contents--heading {
  font-weight: 500;
}
.footer_contents--list {
  font-weight: 300;
}

/*
Components setting -----------------components------settings------components------
*/
.web-study_nav {
  height: auto;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 2rem;
  left: 5rem;
  padding-top: 1rem;
  background-color: lightgray;
}
.components_heading {
  font-family: var(--font-san-serif);
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  color: var(--black);
  line-height: 0.5;
}
.components_heading-second {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  border-bottom: 3px solid var(--black);
  line-height: 0.4;
}
.component-nav-contents>* {
  font-size: 0.9rem;
  line-height: 1.8;
  text-decoration: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0.8rem;
  text-transform: uppercase;
}
.component-nav__heading  {
color: var(--black);
font-weight: bold;
font-size: 1rem;
line-height: 1.8;
padding-top: 0.7rem;
}
.component-nav__sub-heading {
font-weight: bolder;
color: var(--dark-gray);
}
.component-nav-list {
font-weight: 300;
color: var(--dark-gray);
}
/* mian starts here --------*_*------------------*/
.fontface {
  font-size: 2rem;
  }
.specification {
  margin-left: 0;
  list-style: none;
  line-height: 1.5;
}
.usage-list {
  margin-left: 0;
  padding-bottom: 0.8rem;
}
.specification-list {
  font-weight: 500;
}
.full-body-wrapper {
  margin: 0 5% 0 27%;
  padding-left: 8px;
}
.contents-heading {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  margin: 2rem 0 0.7rem 0;
}
.contents-heading__top {
  padding-top: 2.1rem;
}
.dividing_lines {
  margin-top: -0.4em;
}
.components {
  background-color: var(--white);
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
/*.components>*, .row-flex>*, .col-flex>* {
  border: 1px solid red;
}*/
.exsample-heading {
  letter-spacing: 0.5rem;
  font-size: 1.1rem;
  color: var(--dark-gray);
  border-bottom: 2px solid var(--black);
  line-height: 0.4;
  padding: 1rem 0 0 1rem;
  margin-bottom: 0;
}
.compoment-detaile-headings {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--dark-gray);
}
.row-flex {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 15rem 0.5rem 1rem;
}
.row-flex__small-padding {
  align-items: flex-start;
  justify-content:space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.colume-flex {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}
.icon-container {
display: flex;
flex-direction: row;
gap: 2rem;
margin: 0;
padding: 0;
background: none;
}
.icon-color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--white);
}
.icon-color__1 {
  background-color: var(--dark-red);
}
.icon-color__2 {
  background-color: var(--warm-red);
}
.icon-color__3 {
  background-color: var(--brown);
}
.icon-color__4 {
  background-color: var(--dark-brown);
}
.icon-color__5 {
  background-color: var(--gray);
}
.icon-color__6 {
  background-color: var(--olive-green);
}
.atom-logo {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  background: none;
}
.logo-color_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component_coding__explore-flex {
  padding: 2rem;
  background: none;
}
.background_black {
  background: var(--black);
  padding: 0.5rem;
}
/***
_____screen shot images adjustments only_____
**/

.screen_shot_imgs {
  display: block;
  padding: 0.8rem;
}
.screen_shot_reduce {
  width: 63%;
}
.screen_shot_reduce__logo {
  width: 35%;
}
.component-icon_brown {
  border-radius: 50%;
  width: 7%;
  margin: 0;
  padding: 0;
}
.component-icon_brown__2 {
  border-radius: 50%;
  width: 18%;
  margin: 0;
  padding: 0;
}
.screen_shot_reduce__link {
  width: 34%;
  padding-bottom: 0.8rem;
}
.screen_shot_reduce__link-classes {
  width: 22%;
}
.screen_shot_reduce__link-support {
  width: 17.3%;
}
.screen_shot_reduce__link-submit {
  width: 64%;
}
.screen_shot_reduce__link-close {
  width: 18%;
}
.screen_shot_reduce__link-search {
  width: 29%;
}
.nav-top-list {
  width: 140%;
}
.nav-top-slideout__visit {
  width: 30%;
}
.slideout__opening-img {
  width: 45%;
  padding-top: 11rem;
}
.nav-footer-list {
  width: 25%;
}