:root {
    --font-san-serif: 'Yantramanav', sans-serif;
    --font-serif-sub: 'EB Garamond', serif;

    /*color */
    --black: #000;
    --white: #ffffff;
    --gray-scale: #ffffff00;
    --gray-scale-0: rgba(255, 255, 255, 0);

    /** icon cusser colors **/
    --dark-red: #771C16;
    --warm-red: #782F17;
    --brown: #5D452D;
    --dark-brown: #2B1214;
    --gray: #434444;
    --olive-green: #5A682E;
    /*component colors*/
    --dark-gray: rgb(67, 63, 63);
  }
  /* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: var( --font-san-serif);
    font-weight: 400;
    font-size: 13px;
    color: var(--black);
    line-height: 1.4;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--white);
  }
  .override-html-container {
    display: block;
    position: absolute;
  }
  .mama-logo {
    display: block;
    width: 2.65rem;
    position: fixed;
    top: 8rem;
    margin-left: -0.1rem;
    padding: 3rem 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-san-serif);
    font-weight: 500;
    color: var(--black);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul, li, dl, dt, dd {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }

  .nav-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    padding-bottom: 6.5rem;
    margin: 0;
  }
  .slidout-contents-container { /* slide out padding control here / slide out contain all*/
    position: relative;
    padding-left: 20%;
  }
  .top-nav_opening-list-container { /* slide out position control here / slide out contain opening hours*/
    position: absolute;
    top: 150%;
  }
  .top-opening {
    border-top: 1.2px solid var(--black);
    padding: 0.5rem 2rem 2rem 0;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.15;
  }
  .top-nav_opening-list {
    position: absolute;
    top: 150%;
    left: 20%;
  }