@font-face {
    font-family: 'test untitled sans';
    src: url(test-untitled-sans-medium.woff2);
    src: url(test-untitled-sans-regular.woff2);
}
@font-face {
    font-family: 'test untitled serif';
    src: url(test-untitled-serif-medium.woff2);
    src: url(test-untitled-serif-regular.woff2);
}
:root {
    --font-san-serif: 'test untitled sans', sans-serif;
    --font-serif-sub: 'test untitled serif', serif;

    /*color */
    --black: #000;
    --white: #ffffff;
    --forgroud: #66666600;
    --gray-scale: #ffffff00;
    --gray-scale-0: rgba(255, 255, 255, 0);

    /** icon cusser colors **/
    --dark-red: #771C16;
    --warm-red: #782F17;
    --brown: #5D452D;
    --dark-brown: #2B1214;
    --gray: #434444;
    --olive-green: #5A682E;
    /*component colors*/
    --dark-gray: rgb(67, 63, 63);
  }
  /* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: var(--font-san-serif);
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
    line-height: 1.4;
    margin: 0;

    background-color: gray;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-san-serif);
    font-weight: 500;
    color: var(--black);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul, li, dl, dt, dd {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  /* -----------------------top nav & slide out set-ups ----------------------*/
  .override-html-container { /*---flot top of body | top logo, top nav, slide out, and opening hours----*/
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .mama-logo {
    display: block; 
    width: 2.65rem;
    position: absolute;
    top: 8rem;
    margin-left: -0.1rem;

    z-index: -2;
  }
  /* header starts here */
  header, .nav-top-container, .slidout_container>* {
    border: 1px solid red;
  }
  .nav-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .nav-top-container {  /*  <!--nav top contain all together-->   */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.2rem 13rem;  /* padding control | nav */
    background-color: var(--white);

    z-index: -1;
  }
  .nav-list {
    padding-right: 1.8rem;
    margin: 0;
    cursor: pointer;
  }
  .nav-list:last-child {
    padding-right: 0;
  }
  .fa-solid {
    padding-right: 0.5rem;
  }
  
  /* slide out : settings | iframe html */ 
@media screen and (width: 100%, height: 100%) {
  .sidenav {padding-top: 0;}
}
  .embed-slideout-container {
    position: relative;
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .embed-slideout-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe.slideout-contents::after {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .slidout_container {
    display: block;
    position: absolute;
    top: 8rem;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4rem; /* check back */
  }
  .sidenav a {
    display: block;
    transition: 0.3s;
  }