@font-face {
    font-family: 'test untitled sans';
    src: url(test-untitled-sans-medium.woff2);
    src: url(test-untitled-sans-regular.woff2);
}
@font-face {
    font-family: 'test untitled serif';
    src: url(test-untitled-serif-medium.woff2);
    src: url(test-untitled-serif-regular.woff2);
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0;}
  .sidenav a {font-size: 12px;}
}

:root {
    --font-san-serif: 'test untitled sans', sans-serif;
    --font-serif-sub: 'test untitled serif', serif;

    /*color */
    --black: #000;
    --white: #ffffff;
    --gray-scale: #66666676;
    --gray-scale-0: rgba(124, 124, 124, 0);

    /** icon cusser colors **/
    --dark-red: #771C16;
    --warm-red: #782F17;
    --brown: #5D452D;
    --dark-brown: #2B1214;
    --gray: #757575;
    --olive-green: #5A682E;
  }
/* apply a natural box layout model to all elements, but allowing components to change */
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html {
    margin: 0;
    padding: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-san-serif);
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: rgb(255, 255, 255);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-san-serif);
    font-weight: 500;
    color: var(--black);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul, li, dl, dt, dd {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  
/* -----------------------top nav & slide out set-ups ----------------------*/
  .mama-logo, .mama-logo-white {
    display: block; 
    width: 3.3rem;
    position: fixed;
    top: 12rem;
    margin-left: -0.1rem;

    z-index: 20;
/*--------------------------------------*/
    visibility: inherit;
    fill: none;
    color: var(--black);
/*---------------------------------------*/
  }
 
/* header starts here */
.nav-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;


}
/* slide out : settings | slide out only contents */ 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav a {
  display: block;
  transition: 0.3s;

  position: absolute;
  top: 0;
  z-index: 12;
}
.search-close .closebtn {
  position: absolute;
  top: 0;
  
  font-size: 12px;
  padding-left: 13rem;
}
.slideout-background-53 { /* background color 53.5% white : slide out window */
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 53.5%;
  height: 100%;
  z-index: 14;
  background-color: var(--white);
}
.slideout-background-100 { /* background color 100% gray scale : slide out window */
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: rgba(96, 96, 96, 0.357);
  transition: 1s ease-in;
}
.slideout_opening_container { /* --  opening hours texts  ---*/
  display: block;
  position: absolute;
  z-index: 15;
  bottom: 2rem;
  left: 13rem;
  width: 35%;
}
.opening, .opening-top {
  text-align: left;
  border-top: 1px solid var(--black);

  display: block;
  top: 0;
  margin: 0;
  padding: 0;
}
.opening-title {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0;
}
.opening {
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0 1.5rem 0 0;
  margin: 0;
}
/* top nav list and following contents */
.background {               /*  <!--nav top list background color -->   */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;          /* <<<<< haha! treak you  >>>>> */

  width: 100%;
  height: 5rem;
  background-color: var(--white);
}
.nav-top-wrapper {
  position: fixed;
  top: 0rem;
  left: 14rem;
  z-index: 15;
  padding: 1.1rem 0 1.1rem;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-list:last-child {
  padding-right: 0;
}
.nav-list-link a {
  display: block;
  text-decoration: none;
  color: var(--white);
  padding: 0;
  margin: 0;
  position: absolute;
}
.nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50%;
  height: 1px;
  background: none;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in;
}
.nav-list-link:hover::after {
  transform: scaleX(1);
}

.fa-solid {
  padding-right: 0.5rem;
}
.container-nav-top__search {
  position: fixed;
  top: 1.9rem;
  right: 10rem;
  z-index: 12;
  padding: 1.1rem 0 1.1rem;
  margin: 0;
}
.nav-list, .container-nav-top__search {
  padding: 0 2.5rem 0 0;
  margin: 0;
  font-size: 0.85rem;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
  color: var(--black); 
}
.nav-list:last-child {
  padding-right: 0rem;
}
.nav-list-link {
  position: relative;
  color: var(--black);
}
.nav-list-link a {
  text-decoration: none;
  color: var(--black);
  padding: 0;
  margin: 0;
}
.nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in;
}
.nav-list-link:hover::after {
  transform: scaleX(1);
}
.nav-top-list {  /* margin between ** top nav list and contents indivisully */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.topping {
  opacity: 1;
  width: 4rem;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: transparent;
  z-index: 16;
}
.nav-contents {
  display: none;
}
/*--------------------------?---------
/* nav contents child of NAV LIST ----

.slideout-list {
  font-family: var(--font-san-serif);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
}
.slideout-list:hover {
  color: var(--black);
  width: 100%;
  opacity: 1;
  transition: 2s;
}
.slideout-list-container {
  display: block;
  border-top: 1px solid var(--black);

  position: absolute;
  top: 8.2rem;
  left: 0;
  z-index: 17;
}
.nav-contents {
  color: var(--black);
  background-color: transparent;
}

#whatsOn, #Visit, #Explore, #Classes, #Support, #About {
  display: none;
}
#whatsOn:target, #Visit:target, #Explore:target, #Classes:target, #Support:target, #About:target {
  display: block;
  transition: 3s;
} 
*/

/* main starts here ----------------*/

/* --------------- hero  -------------------*/
.full-blanket-wrapper { /* basic position setup  : full cover main + footer  BUT no header*/
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  position: initial !important;
  width: 100%;
  height: 100vh;
  
  outline: none;
}
/* ------------------------------------------*/

/*------- main ------------------------------*/
.section-full-grid { /* cover each section in same grid */
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  
  padding-top: 11.9rem;
  margin-bottom: 13rem !important;
  padding-left: 7.8rem;
  padding-right: 2rem;

  position: relative;
}
.section-intro-wrap {
  grid-column: 3 / -2;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  margin-top: -25px;
  margin-bottom: 1.8rem;

  top: 8.1rem;
}
.section-heading {
  margin: 0;
  font-family: var(--font-san-serif);
  font-weight: 500;
  font-size: 2rem;

  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  margin: 0;

  display: block;
  position: absolute;
  top: -0.8rem;
  left: 0;
}
.hero-img-wrapper {
  border-bottom: 1px solid var(--black);
}
.hero-img-wrapper, .article-imgs__hero {
  grid-column: 3 / -2;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  margin: 0;
}
.section-heading__hero {
  font-weight: bolder;
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 10px;
  height: 15px;
}
.event-description {
  border-top: 1px solid var(--black);
  line-height: 1.5;
}
.description-wrapper {
  grid-column: 9 / -2;
  font-size: 0.9rem;
  text-align: left;
  line-height: 0.4;
}
.description-text-wrapper {
  padding-top: 0.1rem;
}
.description__title_hero {
  font-size: 0.9rem;
  font-weight: 500;
}
.description__text_hero {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.4;
}
/* bound only -------------- */
.typo-bound {
  width: 100vw;
  height: auto;
  pointer-events: none;
  z-index: 2;

  padding: 0;
  margin: 0;
}
span.bound {
  position: absolute;
  top: 75px;
  left: 0;
  display: block;
  -ms-transform: translate(0, -60%);
  transform: translate(0, -60%);
}
.bound-container {
  display: block;
  position: absolute;
  bottom: 700px;
  left: 0px;
  width: 100vw;
  height: 0;
  opacity: 1;
  transition: 0.8s ease;
  padding: 0;
  margin: 0;
}
.bound-container:hover {
  height: 7%;
}
/* section What's On ------------------------*/
.section-full-grid__whats-on {
  padding-top: 0;
  margin-bottom: 6rem !important;
}
.line {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  border-top: 1px solid var(--black);
}
.section-heading-container {
  display: block;
  grid-column: 1 / span 3;
  grid-row: 2;
  margin: 0;
}
a.grap {
  cursor: url(cursor_2.png) 2 2, pointer;
}
.article_wrapper {
  display: block;

  padding:0;
  margin: 0;
  grid-column: 4 / -1;
  grid-row: 2 ;
}
.article-direction-x {
  transform: translateX(0%);
}
.setup-margin {
  display: block;
  width: 35rem;
  height: auto;

  top: -13.5rem;
}
.article_img {
  display: block;
  width: 100%;
}
/* article-order */
.article-order {
  position: absolute;
  top: -13rem;
  left: 0;
  display: block;
  margin: 0 2rem 0 0;
  padding: 0;
}
.article-order__1 {
  transform: translateX(0%);
}
.article-order__2 {
  transform: translateX(105.73%);
}
.article-order__3 {
  transform: translateX(211.7%);
  left: 0;
}
.article-order__4 {
  transform: translateX(317.55%);
}
.article-order__5 {
  transform: translateX(423.5%);
}
.article-order__6 {
  transform: translateX(529.5%);
}
.article-order__7 {
  transform: translateX(635.4%);;
}
.article-order__8 {
  transform: translateX(741%);
  padding-right: 13em;
}
.description {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.4;
  padding: 0;
  margin: 0.7rem 0 0;
}
.description__text {
  margin-top: 0.2rem;
}

/* section : visit us ---------------*/

/* action link ------------*/
.action-link {
  font-weight: 500;
  font-size: 0.87rem;
  position: relative;
}
.action-link a {
  text-decoration: none;
  color: var(--black);
  padding: 0;
  margin: 0;
}
.action-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in;
}
.action-link__other:hover::after {
  transform: scaleX(1);
}
/*--------------------------*/
.action-link__other {
  font-weight: 500;
  font-size: 0.87rem;
  position: relative;
}
.action-link__other a {
  text-decoration: none;
  color: var(--white);
  padding: 0;
  margin: 0;
}
.action-link__other::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in;
}
.action-link__other:hover::after {
  transform: scaleX(1);
}
/*----above : action link */
.section-intro_text {
  font-family: var(--font-san-serif);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black)
}
.section-full-grid__visit {
  padding-top: 0;
  margin-bottom: 6rem;
  margin-top: 30rem;
}
.section-heading__visit {
  grid-column: 1 / span 3;
  grid-row: 2;
  display: block;
}
.section-intro-wrapper {
  grid-column: 4 / span 5;
  grid-row: 2;
  display: block;
}
.section-intro_text, .section-heading__visit {
  margin-top: 0;
  padding-top: 0;
}
.article-colume {
  margin: 0;
  padding: 0;
  display: block;
}
.article_wrapper {
  grid-row: 3;
  grid-column: 4 / -1;
  gap: 2rem;
  display: flex;
}
/* section : visit us ---------------*/
.section-full-grid__classes {
  margin-top: 0;
  padding-top: 0;
}
/* section : MAMA member --------*/
.section-full-grid__member {
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  
  padding-top: 11.9rem;
  margin-bottom: 0 !important; 
  margin-top: 0;
  padding-left: 7.8rem;
  padding-right: 2rem;
  position: relative;

  color: var(--white);
}
.section-full-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.mama-member-img {
  display: block;
  width: 100%;
}
.section-intro-wrapper__member {
  display: block;
  z-index: 2;

  grid-column: 8 / -2;
  grid-row: 4;
}
.section-intro-wrapper {
  font-family: var(--font-san-serif);
}
.section-heading-container {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  padding: 1.5rem 0 8rem;
  margin: 0.5rem 0 1.5rem;
}
.section-heading__member {
  margin: 0;
  font-family: var(--font-san-serif);
  font-weight: 500;
  display: block;
  color: var(--white);
  font-size: 2rem;
  line-height: 1;
}
.section-intro_text__member {
  color: var(--white);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
.action-wrapper {
  padding-bottom: 1.5rem;
}

/* Footer starts here ---------------------- */
 .footer-full-grid {
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 7.8rem;
  padding-right: 2rem;
  position: relative;

  z-index: 21;   /* <<<<<<<<<<<<<<<<<<<<<<< treak?? */

  color: var(--white);
  background-color: var(--black);
}
.we_are_mama {
  grid-column: 2 / -1 ;
  display: block;
  padding-top: 4.2rem;
}
h4 {
  font-family: var(--font-san-serif);
  font-size: 4.3rem;
  font-weight: 500;
  color: var(--white);
  text-align: left;
}
.footer_nav-position {
  display: block;
  margin-top: 0;
  align-items: start;
}
.line-footer {
  grid-column: 2 / -1;
  grid-row: 2 / span 1;
  display: block;
  border-top: 1px solid var(--white);
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 0;
}
.footer-nav__title {
  font-family: var(--font-san-serif);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2;
}
.footer-nav__content {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}
.footer-submit-intro {
  padding-top: 4rem;
}
.footer-titles {
  color: var(--white);
  font-size: 0.9rem;
  padding-bottom: 0;
  margin: 0;
}
.description-text__footer {
  padding: 0;
  margin: 0;
  width: 20rem;
}
.footer-submit-button {
  border-bottom: 1px solid var(--white);
  padding-bottom: 0.2rem;
  padding-top: 1.5rem;
  width: 18rem;
}
.join-submit {
  font-size: 0.8rem;
  color: var(--white);
  background-color: transparent;
  border: none;

  width: 16rem;
}
dl.opening-line--footer {
  margin-top: 0;
  margin-bottom: 0;
}
.opening-title--footer {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 2;
  padding-top: 0;
  margin-top: 0;
}
.opening_date--footer {
  font-weight: 500;
}
.opening_date--footer, .opening_time--footer {
  padding: 0 1.8rem 0 0;
  display: inline-block;
}
/* each group position setting */
.footer-group-container__left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  grid-column: 2 / 6;
  grid-row: 3 / span 2;

  padding-top: 0;
  margin-top: -0.8rem;}
/* ----------------------------*/
.footer_nav-position__about {
  display: block;
  grid-column: 7 / span 1;
  grid-row: 3 / span 1;

  padding-top: 0;
  margin-top: -0.8rem;
}
.footer_nav-position__support {
  display: block;
  grid-column: 9 / span 1;
  grid-row: 3 / span 1;

  padding-top: 0;
  margin-top: -0.8rem;
}
.footer_nav-position__follow {
  display: block;
  grid-column: 11 / span 1;
  grid-row: 3 / span 1;

  padding-top: 0;
  margin-top: -0.8rem;
}
.footer_nav-position__opening {
  display: block;
  grid-column: 7 / span 2;
  grid-row: 4 / span 2;

  padding: 0;
  margin: 0;
}
.footer-list__title {
  font-family: var(--font-san-serif);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  line-height: 2;

  padding: 0;
  margin: 0;
}
.footer_nav-position__address {
  display: block;
  grid-column: 9 / span 2;
  grid-row: 4 / span 1;

  font-family: var(--font-san-serif);

  padding-top: 0;
  margin-top: 0;
}
/* partner logo */
.partner-heading-container {
  grid-column: 7 / -1;
  grid-row: 6 / span 1;
  border-bottom: 1px solid var(--white);

  font-weight: 500;
}
.partner-logo--alburycity {
  grid-column: 7 / span 1;
  grid-row: 7 / span 1;
  width: 80%;
}
.partner-logo--nsw {
  grid-column: 8 / span 1;
  grid-row: 7 / span 1;
  width: 60%;
}
.partner-logo {
  display: block;
}
.partner {
  display: block;
  width: 100%;
}
/*---------------------------------------------*/

/* copyrights */
.line-footer--copyright {
  grid-column: 1 / -1;
  grid-row: 8 / span 1;

  display: block;
  border-top: 1px solid var(--white);
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding: 0;
}
.copyright-flex--left {
  display: block;
  padding-bottom: 1rem;
  padding-top: 0;

  grid-column: 1 / span 2;
  grid-row: 9 / span 1;
}
.copyright {
  margin-top: -0.02rem;
  padding-bottom: 1rem;
}
.copyright-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
}
.copyright-flex--right {
  margin-top: 0rem;
  padding-bottom: 1rem;

  grid-column: 7 / -2;
  grid-row: 9 / span 1;
}
.footer-etc-infore, .copyright, .copyright-flex--right {
  font-size: 0.7rem;
}
/* X-tramas!! * \(^o^)/ 8 * 8 * 8 ho! ho! ho!    */
/*/\ * / 8 \ / * \/ 8 \ * / 8 \/ * / 8 \ * / 8 \ / * \ 
/ 8 \ * / \ 8 /\ * / 8 \ * /\ 8 \ * / 8 \ / * \ 8 /*/

