<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" context="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Yantramanav:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b97ebc95f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <title>Components | Mamalbury art museum</title>
    </head>

    <body>
     <!--fixed logo white and black-->
     <a href="#!"><img class="fixed-logo fixed-logo__white" src="img/mama_logo-white.png" alt="mama logo"></a>
<div class="full-body-wrapper">
     <div class="lets_beggin">
      <h1>MURRRAY ART MUSEUM ALBURY CASE STUDY</h1>
          <img class="component-mama_logo-white"
               scrset="img/component-mama_logo-white.png 2x"
               src="img/component-mama_logo-white.png"
               alt="mama museum logo">
     </div>

      <h2>Typography Defaults</h2>

          <h3>Body</h3> 
          <div class="conponents_img">
               <img scrset="img/article__visit-paragraph-intro.png 2x"
                    src="img/article__visit-paragraph-intro.png"
                    alt="conponents image">
               <img srcset="img/article__classes-paragraph-intro.png 2x"
                    src="img/article__classes-paragraph-intro.png"
                    alt="conponents image">
               <img 
               class="conponents-img__support"
               srcset="img/articel__support-paragraph-intro.png 2x"
                    src="img/articel__support-paragraph-intro.png"
                    alt="conponents image">
               <img class="conponents-img__footer"
                    srcset="img/footer_paragraph__intro.png 2x"
                    src="img/footer_paragraph__intro.png"
                    alt="conponents image">
          </div>
          
          <h3>Body Coding</h3>
          <div class="body_text">

               <p class="body-text">
               Come experience everything the museum has to offer from 
               a wide range experiences and activities that every member 
               of the family can enjoy.</p>
               <p class="body-text">
               We offer weekly art courses in a variety of disciplines, 
               including photography, ceramics, drawing, acrylic painting, 
               oil painting, watercolours, and printmaking.
               </p>
               <p class="body-text">
               Our members enjoy great benefits and discounts at the museum 
               and with our partner organisations.
               </p>
               <p class="body-text">
               MAMA acknowledges the Wiradjuri people as the traditional 
               custodians of the land upon which we are located. We pay our 
               respects to the Elders past, present and future for they hold 
               the memories, culture, tradition and hopes of Aboriginal 
               and Torres Strait Islander people that contribute to our community.
               </p>
          </div>

          <h3>Headings: h1, h2, h3, h4...</h3>
          <div class="conponents-heading-img">
               <img class="heading heading__hero-heading"
                    srcset="img/hero_heading.png x2"
                    src="img/hero_heading.png"
                    alt="headings">
               <img class="heading heading__whats_on-heading"
                    srcset="img/article__whats-on__title.png 2x"
                    src="img/article__whats-on__title.png"
                    alt="headings">
               <img class="heading heading__footer-heading"
                    srcset="img/footer_heading.png 2x"
                    src="img/footer_heading.png"
                    alt="headings">
               <img class="heading heading__contents-title"
                    srcset="img/hero_contents-title.png 2x"
                    src="img/hero_contents-title.png"
                    alt="headings">
               <img class="heading heading__footer_list-title"
                    srcset="img/footer_lists-title__about.png 2x"
                    src="img/footer_lists-title__about.png"
                    alt="headings">
          </div>
     
     <h3>Heading Coding: h1, h2, h3, h4...</h3>
     <div class="headings">
          <p>h1</p>
          <h4 class="heading heading__section_hero">MURRAY ART MUSEUM ALBURY</h4>
          <p>h2</p>
          <h5 class="heading heading__page">What&#39;s On</h5>
          <p>h2</p>
          <h5 class="heading heading__footer">We are an Art Museum</h5>
          <p>h3</p>
          <h5 class="heading heading__contents-title">Taerim Claire Jeon,</h5>
          <p>h4</p>
          <h5 class="heading heading__footer-nav-title">About</h5>
     </div>

     <h2>Colors</h2>
     <h3>Main color: black and white</h3>
     <div class="color-img">
          <p>Black #000000 | Background white #ffffff</p>
          <img class="component-mama_logo"
               scrset="img/conponents-mama_logo_b.png 2x"
               src="img/conponents-mama_logo_b.png"
               alt="mama museum logo">
          <p>White #ffffff | Background Black #000000</p>
          <img class="component-mama_logo component-mama_logo-black"
               scrset="img/conponents-mama_logo_w.png 2x"
               src="img/conponents-mama_logo_w.png"
               alt="mama museum logo">
     </div>

     <h3> Sub colors: Icons and buttons</h3>
     <div>
          <div class="icon-container">
               <div class="icon-color icon-color__1"><p>#771C16</p></div>
               <div class="icon-color icon-color__2"><p>#782F17</p></div>
               <div class="icon-color icon-color__3"><p>#5D452D</p></div>
               <div class="icon-color icon-color__4"><p>#2B1214</p></div>
               <div class="icon-color icon-color__5"><p>#434444</p></div>
               <div class="icon-color icon-color__6"><p>#5A682E</p></div>
          </div>

          <h4>Explore Icon</h4>
          <img class="component-icon_brown"
          scrset="img/article-icon__brown.png 2x"
          src="img/article-icon__brown.png"
          alt="explore icon">
     </div>

     <h3>Links | buttons | icons </h3>
     <div>
          <h4>Action link and buttons</h4>
          <img class="component-link-buttons__visit"
          scrset="img/article__visit-link-button.png 2x"
          src="img/article__visit-link-button.png"
          alt="link button">
          <img class="component-link-buttons__classes"
          scrset="img/article__classes__link-button.png 2x"
          src="img/article__classes__link-button.png"
          alt="link button">
          <img class="component-link-buttons__support"
          scrset="img/articel__support-link-button.png 2x"
          src="img/articel__support-link-button.png"
          alt="link button">
          <img class="component-buttons__submit"
          scrset="img/footer_member-submit.png 2x"
          src="img/footer_member-submit.png"
          alt="submit button">
     </div>

     <div>
          <h4>Codding: Action link and button </h4>
          <p><a class="link-button link-button__visit-us" href="https://www.mamalbury.com.au/events">
               Events &#38; Experiences <i class="fa-solid fa-arrow-right-long"></i></a></p>
          <p><a  class="link-button link-button__classes" href="https://www.mamalbury.com.au/short-courses">
               All Classes <i class="fa-solid fa-arrow-right-long"></i></a></p>
          <p><a  class="link-button link-button__join-us" href="https://www.mamalbury.com.au/members">
               Join Us <i class="fa-solid fa-arrow-right-long"></i></a></p>
          <p class="join"><a class="subscription_join" href="#!"><input class="footer__subscription_submit" 
                 type="text" id="email" name="email"
                 placeholder="Email address" required>Join</a></p>
     </div>
     
     <div>
          <h4>Icon: Explore mouse cusor</h4>
          <img class="component-icon_brown"
          scrset="img/article-icon__brown.png 2x"
          src="img/article-icon__brown.png"
          alt="explore icon">
     </div>
     <div>
          <h4>Coding: Icon: Explore mouse cusor </h4>
          <div class="container__icon-explore">
          <div class="icon-explore icon-explore__dark-red"><p>Explore</p></div>
          <div class="icon-explore icon-explore__warm-red"><p>Explore</p></div>
          <div class="icon-explore icon-explore__brown"><p>Explore</p></div>
          <div class="icon-explore icon-explore__dark-brown"><p>&#60;  Explore  &#62;</p></div>
          <div class="icon-explore icon-explore__gray"><p>&#60;  Explore  &#62;</p></div>
          <div class="icon-explore icon-explore__olive-green"><p>&#60;  Explore  &#62;</p></div>
          </div>
     </div>

     <h2>Navigation</h2>
     <h3>Fixed top navigation</h3>
          <div>
          <img class="nav-top-list"
          scrset="img/nav_list-top.png 2x"
          src="img/nav_list-top.png"
          alt="navigation menu">
          </div>
     <h3>Coding: Fixed top navigation </h3>

         <div class="wrapper_nav-top">
          <ul class="container-nav-top container-nav-top__list">
               <li class="nav-list"><a class="nav-list-link" href="#!">What&#39;s On</a></li>
               <li class="nav-list"><a class="nav-list-link" href="#!">Visit</a></li>
               <li class="nav-list"><a class="nav-list-link" href="#!">Explore</a></li>
               <li class="nav-list"><a class="nav-list-link" href="#!">Classes</a></li>
               <li class="nav-list"><a class="nav-list-link" href="#!">Support</a></li>
               <li class="nav-list"><a class="nav-list-link" href="#!">About</a></li>
          </ul>
          <div class="container-nav-top container-nav-top__search">
               <p class="nav-list"><a class="search-link" href="#!" title="search"><i class="fa-solid fa-magnifying-glass"></i>  Search MAMA</a></p>
          </div>
         </div>

     <h3> Navigation Dropdown</h3>
          <div>
               <img class="nav-top-dropdown nav-top-dropdown__visit"
               scrset="img/nav-dropdown__visit.png 2x"
               src="img/nav-dropdown__visit.png"
               alt="navigation dropdown menu lists">
          </div>
          <div>
               <img class="dropdown__opening-img"
               scrset="img/nav-dropdown-opening.png 2x"
               src="img/nav-dropdown-opening.png"
               alt="navigation dropdown menu lists">
          </div>
          
          <h3> Coding: Navigation Dropdown Oepning hours </h3>
          <div>
               <ul class="dropdown-visit">
                  <li><a class="dropdown-visit__link" href="https://www.mamalbury.com.au/plan-your-trip">Plan Your Trip</a>
                  <!--<span class="dropdown-hover">
                      <img class="dropdown-hover-img dropdown-hover-img__visit-plan" src="img/dropdown__visit__plan-trip.jpg" 
                              alt="museum indoor space and art"></span>-->
                  </li>
                  <li><a class="dropdown-visit__link" href="https://www.mamalbury.com.au/kids-and-families">Kids &#38; Families</a>
                  <!--<span class="dropdown-hover">
                         <img class="dropdown-hover-img dropdown-hover-img__visit-kids" src="img/dropdown__visit__kids-family.jpg"
                              alt="kids are looking at art and interect with it"></span>-->
                  </li>
                  <li><a class="dropdown-visit__link" href="https://www.mamalbury.com.au/shop">Shop</a>
                      <!--<span class="dropdown-hover">
                      <img class="dropdown-hover-img dropdown-hover-img__visit" src="img/dropdown__visit__shop.jpg"
                              alt="items on display"></span>-->
                  </li>
                  <li><a class="dropdown-visit__link" href="https://www.mamalbury.com.au/eat">Eat</a>
                      <!--<span class="dropdown-hover">
                      <img class="dropdown-hover-img dropdown-hover-img__visit" src="img/dropdown__visit__eat.jpg"
                              alt="couple seat and enjoy their drink"></span>-->
                  </li>
                  <li><a class="dropdown-visit__link" href="https://www.mamalbury.com.au/school-visits">School Visits</a>
                      <!--<span class="dropdown-hover">
                      <img class="dropdown-hover-img dropdown-hover-img__visit" src="img/dropdown__visit__school.jpg"
                              alt="a girl pointing art"></span>-->
                  </li>
                  <li><a class="dropdown-visit__link" href="https://www.mamalbury.com.au/venue-hire">Venue Hire</a>
                     <!--<span class="dropdown-hover">
                      <img class="dropdown-hover-img dropdown-hover-img__visit" src="img/dropdown__visit__venue-hire.jpg"
                              alt="people held their drink in museum indoor space"></span>-->
                  </li>
               </ul>
          </div><!--drop town div-->
          <div>
               <table class="dropdown_nav-top__opening">
                    <caption class="dropdown_opening-title">We are an Art Museum</caption>
               <tr>
                    <th class="dropdown_opening-dates">Monday-Friday</th>
                    <td class="dropdown_opening-time">10am-5pm</td>
               </tr>
               <tr>
                    <th class="dropdown_opening-dates">Saturday</th>
                    <td class="dropdown_opening-time">10am-4pm</td>
               </tr>
               <tr>
                    <th class="dropdown_opening-dates">Sunday</th>
                    <td class="dropdown_opening-time">10am-4pm</td>
               </tr>
               <tr>
                    <th class="dropdown_opening-dates">Public Holidays</th>
                    <td class="dropdown_opening-time">10am-4pm</td>
               </tr>
               <tr>
                    <th class="dropdown_opening-dates">Anzac Day</th>
                    <td class="dropdown_opening-time"></td>
               </tr>
               <tr>
                    <th class="dropdown_opening-dates">Christmas Closed</th>
                    <td class="dropdown_opening-time">10am-5pm</td>
               </tr>
               <tr>
                    <th class="dropdown_opening-dates">Good Friday Closed</th>
                    <td class="dropdown_opening-time"></td>
               </tr>
               <tr>
                    <th class="dropdown_opening-free_entry">Free Entry</th>
                    <td></td>
               </tr>
               </table>
          </div><!--table-->

          <h3>Headings</h3>
          <div class="heading-img">
               <img class="heading heading__hero-heading"
                    srcset="img/hero_heading.png x2"
                    src="img/hero_heading.png"
                    alt="h1">
               <img class="heading heading__whats_on-heading"
                    srcset="img/article__whats-on__title.png 2x"
                    src="img/article__whats-on__title.png"
                    alt="h2">
               <img class="heading heading__visit-heading"
                    srcset="img/article__visit-title.png 2x"
                    src="img/article__visit-title.png"
                    alt="h2">
               <img class="heading heading__classes-heading"
                    srcset="img/article__classes__title.png 2x"
                    src="img/article__classes__title.png"
                    alt="h2">
               <img class="heading heading__support-heading"
                    srcset="img/articel__support__title.png 2x"
                    src="img/articel__support__title.png"
                    alt="h2">
               <img class="heading heading__footer-heading"
                    srcset="img/footer_heading.png 2x"
                    src="img/footer_heading.png"
                    src="img/articel__support__title.png"
                    alt="h2">
          </div>

          <h3>Coding: headings</h3>
          <div>
               <h4 class="heading heading__section_hero">MURRAY ART MUSEUM ALBURY</h4>
               <h5 class="heading heading__page">What's On</h5>
               <h5 class="heading heading__page">Visit Us</h5>
               <h5 class="heading heading__page">Classes</h5>
               <h5 class="heading heading__page">Become a MAMA Member</h5>
               <h5 class="heading heading__footer">We are an Art Museum</h5>
          </div><!--heading coding div-->
     
               
          
</body> <!--full body wrapper-->
     <!--
     <div class="heading-img">
          <img class="heading heading__hero-heading"
               srcset="img/hero_heading.png x2"
               src="img/hero_heading.png"
               alt="h1">
          <img class="heading heading__whats_on-heading"
               srcset="img/article__whats-on__title.png 2x"
               src="img/article__whats-on__title.png"
               alt="h2">
          <img class="heading heading__visit-heading"
               srcset="img/article__visit-title.png 2x"
               src="img/article__visit-title.png"
               alt="h2">
          <img class="heading heading__classes-heading"
               srcset="img/article__classes__title.png 2x"
               src="img/article__classes__title.png"
               alt="h2">
          <img class="heading heading__support-heading"
               srcset="img/articel__support__title.png 2x"
               src="img/articel__support__title.png"
               alt="h2">
          <img class="heading heading__footer-heading"
               srcset="img/footer_heading.png 2x"
               src="img/footer_heading.png"
               src="img/articel__support__title.png"
               alt="h2">
     </div>
     <h4 class="heading heading__section_hero">MURRAY ART MUSEUM ALBURY</h4>
     <h5 class="heading heading__page">What's On</h5>
     <h5 class="heading heading__page">Visit Us</h5>
     <h5 class="heading heading__page">Classes</h5>
     <h5 class="heading heading__page">Become a MAMA Member</h5>
     <h5 class="heading heading__footer">We are an Art Museum</h5>

          <img scrset="hero_heading.png 2x"
               scr="img/hero_heading.png"
               alt="hero heading">
          <img scrset="hero_paragraph.png 2x"
               scr="img/hero_paragraph.png"
               alt="hero text">
          <img scrset="article__visit-intro 2x"
               scr="img/article__visit-intro"
               alt="visit text">
          <img scrset="article__visit__contents__infore 2x"
               scr="img/article__visit__contents__infore"
               alt="visit text">
     -->


      <h3>navigation_top</h3>
      <img scrset="img/header__nav-bar.png 2x"
           scr="img/header__nav-bar.png"
           alt="top navigation menu list">
      <img scrset="img/header__nav-bar.png 2x"
           scr="img/logo__left-logo.png"
           alt="logo">
     

           <i class="fa-solid fa-magnifying-glass"></i>

      <h3>hero_section</h3>
      <img scr="contents__hero" alt="hero page">
    </body>
    </html>