<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" context="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Components | Mamalbury art museum</title>
    </head>

    <body>
      <h1>Web Components go here</h1>

      <h2>Typography Defaults</h2>

      <h3>body</h3>
      <img scrset="img/header__nav-bar.png 2x"
           scr="section__hero__text-infore.png"
           alt="hero text">
           

      <h3>navigation_top</h3>
      <img scrset="img/header__nav-bar.png 2x"
           scr="img/header__nav-bar.png"
           alt="top navigation menu list">
      <img scrset="img/header__nav-bar.png 2x"
           scr="img/logo__left-logo.png"
           alt="logo">

      <h3>hero_section</h3>
      <img scr="contents__hero" alt="hero page">
    </body>
    </html>