<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" context="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Yantramanav:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b97ebc95f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <title>Components | Mamalbury art museum</title>
    </head>

    <body>
     <script src="../java/main.js"></script>

          <!--fixed logo white and black-->
          <a href="index.html"><img class="fixed-logo fixed-logo__white" src="img/mama_logo-white.png" alt="mama logo"></a>

       <header class="web-study_nav">
          <h1 class="components_heading">MURRRAY ART MUSEUM ALBURY</h1>
          <h2 class="components_heading components_heading-second">CASE STUDY</h2>
     
          <dl class="component-nav-contents">
               <dt class="component-nav__heading"><a href="index.html#typography">Typography</a></dt>
                    <dd class="component-nav-list">Untitled Sans Regular</dd>
                    <dd class="component-nav-list">Exsamples and Codings</dd>
               <dt class="component-nav__heading"><a href="index.html#colorlogo"> Colors and Logo</a></dt>
                    <dd class="component-nav-list">Primary Colors</dd>
                    <dd class="component-nav-list">Sub-colors</dd>
               <dt class="component-nav__heading"><a href="index.html#atoms">Atoms</a></dt>
                    <dd class="component-nav-list">Links | buttons | icons</dd>
                    <dd class="component-nav-list">Section Hero</dd>
               <dt class="component-nav__heading"><a href="index.html#pageheader">Page Header</a></dt>
                    <dd class="component-nav-list"><a href="index.html#navigation">Navigation</a></dd>
                    <dd class="component-nav-list">Slide out Navtigation</dd>
               <dt class="component-nav__heading"><a href="index.html#pages">Page Contents</a></dt>
                    <dd class="component-nav-list">Hero</dd>
                    <dd class="component-nav-list">Pages</dd>
               <dt class="component-nav__heading"><a href="index.html#component">Footer</a></dt>
          </dl>
       </header> <!--web-study nav div-->

       <main>
          <section class="full-body-wrapper">
               
            <article class="container">
               <h3 class="contents-heading contents-heading__top" id="typography">Typography Defaults</h3>
               <hr class="dividing_lines">

               <p class="fontface">Untitled Sans Regular</p>
                    <dl class="specification">
                         <dt class="specification-list">Untitled Sans Regular (font weight: 400)</dt>
                         <dd class="usage-list">Menu, information, paragraph, and non-targeted texts.</dd>
                         <dt class="specification-list">Untitled Sans Medium (font weight: 500)</dt>
                         <dd class="usage-list">Used for link bottons, selected menu, heading and sub-titles.</dd>
                    </dl>

               <hr class="dividing_lines">

               <h4 class="exsample-heading">BODY</h4> 
                    <div class="components">
                         <h5 class="compoment-detaile-headings">| Body image</h5>
                         <img class="screen_shot_imgs screen_shot_reduce"
                              scrset="img/article__visit-paragraph-intro.png 2x"
                              src="img/article__visit-paragraph-intro.png"
                              alt="components image">
                    
                         <h5 class="compoment-detaile-headings">| Body Coding</h5>                    
                              <p class="page-text_intro">
                              Come experience everything the museum has to offer from 
                              a wide range experiences and activities that every member 
                              of the family can enjoy.</p>                         
                    </div><!--body texts-->

               <h4 class="exsample-heading">HEADINGS</h4>
                    <div class="components">
                    <h5 class="compoment-detaile-title">| HEADINGS IMAGES</h5>
                         <div class="row-flex">
                              <p class="compoment-detaile-headings">| h1</p>
                              <img class="screen_shot_imgs"
                                   srcset="img/hero_heading.png 1.9x"
                                   src="img/hero_heading.png"
                                   alt="headings">
                         </div>
                         <div class="row-flex">
                              <p class="compoment-detaile-headings">| h2 : Page headings image</p>
                              <img class="screen_shot_imgs"
                                   srcset="img/article__whats-on__title.png 2x"
                                   src="img/article__whats-on__title.png"
                                   alt="headings">
                         </div>
                         <div class="row-flex">
                              <p class="compoment-detaile-headings">| h3 : Names and titles image</p>
                              <img class="screen_shot_imgs"
                                   srcset="img/contents_classes-acrylic_title.png 2x"
                                   src="img/contents_classes-acrylic_title.png"
                                   alt="headings">
                         </div>
                         <p class="compoment-detaile-headings">| h4 : Page heading. Black background image</p>
                              <img class="screen_shot_imgs"
                                   srcset="img/footer_heading.png 2x"
                                   src="img/footer_heading.png"
                                   alt="headings">
                         <div class="row-flex">
                              <p class="compoment-detaile-headings">| h5 : Footer contents heading image</p>
                              <img class="screen_shot_imgs"
                                   srcset="img/footer_lists-title__about.png 2x"
                                   src="img/footer_lists-title__about.png"
                                   alt="headings">
                         </div><!--row-flex heading-->                        

                    <h5 class="compoment-detaile-title">| HEADING CODING</h5>
                         <div class="row-flex">
                         <p class="compoment-detaile-headings">| h1</p>
                         <h6 class="components_headings components_headings__section_hero">MURRAY ART MUSEUM ALBURY</h6>
                         </div>
                         <div class="row-flex">
                         <p class="compoment-detaile-headings">| h2 : Page headings</p>
                         <h6 class="components_headings components_headings__page">What&#39;s On</h6>
                         </div>                         
                         <div class="row-flex">
                         <p class="compoment-detaile-headings">| h3 : Names and titles.</p>
                         <h6 class="components_headings components_headings__contents-title">Taerim Claire Jeon,</h6>
                         </div>
                         <div class="footer_container footer_container__action">
                         <p class="compoment-detaile-headings">| h4 : Page heading. Black background.</p>
                         <h6 class="components_headings components_headings__footer">We are an Art Museum</h6>
                         </div>
                         <div class="row-flex">
                         <p class="compoment-detaile-headings">| h5 : Footer contents heading</p>
                         <h6 class="components_headings components_headings__footer-nav-title">About</h6>
                         </div>
                    </div>
            </article>

            <article class="container">
               <h3 class="contents-heading" id="colorlogo">COLOR AND LOGO</h3>
               <hr class="dividing_lines">

               <h4 class="compoment-detaile-headings">| Main color: Black and White</h4>
                    <div class="components atom-logo">
                         <div class="logo-color_flex"><!--flex logo-->
                         <p class="specification-list">Black #000000 | Background White #ffffff</p>
                         <img class="screen_shot_imgs screen_shot_reduce__logo"
                              scrset="img/components-mama_logo_b.png 1x"
                              src="img/components-mama_logo_b.png"
                              alt="mama museum logo">
                         </div>
                         <div class="logo-color_flex">
                         <p class="specification-list">White #ffffff | Background Black #000000</p>
                         <img class="screen_shot_imgs screen_shot_reduce__logo"
                              scrset="img/components-mama_logo_w.png 1x"
                              src="img/components-mama_logo_w.png"
                              alt="mama museum logo">
                         </div><!--flex logo-->
                    </div>

               <h4 class="compoment-detaile-headings">| Sub colors - Icons and buttons</h4>
                    <div class="components component__explore-flex">
                         <div class="components icon-container">
                              <div class="icon-color icon-color__1"><p>#771C16</p></div>
                              <div class="icon-color icon-color__2"><p>#782F17</p></div>
                              <div class="icon-color icon-color__3"><p>#5D452D</p></div>
                              <div class="icon-color icon-color__4"><p>#2B1214</p></div>
                              <div class="icon-color icon-color__5"><p>#434444</p></div>
                              <div class="icon-color icon-color__6"><p>#5A682E</p></div>
                         
                         <p class="specification-list">Explore icon image</p>
                              <img class="screen_shot_imgs components component-icon_brown"
                                   scrset="img/article-icon__brown.png 2x"
                                   src="img/article-icon__brown.png"
                                   alt="explore icon">
                         </div><!--screen shot explore img-->
                    </div> <!--sub colors-->
            </article>

               <hr class="dividing_lines">
            <article class="container">
               <h3 class="contents-heading" id="atoms">Atoms</h3>
               <hr class="dividing_lines">

               <h4 class="exsample-heading">LINKS | BUTTONS | CUSOR </h4>
               <div class="components">
                    <div class="row-flex row-flex__small-padding">
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Action Link and buttons images</h5>
                                   <img class="screen_shot_imgs screen_shot_reduce__link screen_shot_reduce__link-visit"
                                        src="img/article__visit-link-button.png"
                                        alt="link button">
                                   <img class="screen_shot_imgs screen_shot_reduce__link screen_shot_reduce__link-classes"
                                        src="img/article__classes__link-button.png"
                                        alt="link button">
                                   <img class="screen_shot_imgs screen_shot_reduce__link screen_shot_reduce__link-support"
                                        src="img/articel__support-link-button.png"
                                        alt="link button">
                                   <img class="screen_shot_imgs screen_shot_reduce__link screen_shot_reduce__link-submit"
                                        src="img/footer_member-submit.png"
                                        alt="submit button">
                                   <img class="screen_shot_imgs screen_shot_reduce__link screen_shot_reduce__link-close"
                                        src="img/slideout__search-close.png"
                                        alt="submit button">
                                   <img class="screen_shot_imgs screen_shot_reduce__link screen_shot_reduce__link-search"
                                        src="img/searchmama.png"
                                        alt="submit button">
                         </div><!--flex-col for action link-->

                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Codding - Action link and button </h5>
                                   <p><a class="link-button link-button__visit-us" href="https://www.mamalbury.com.au/events">
                                        Events &#38; Experiences <i class="fa-solid fa-arrow-right-long"></i></a></p>
                                   <p><a  class="link-button link-button__classes" href="https://www.mamalbury.com.au/short-courses">
                                        All Classes <i class="fa-solid fa-arrow-right-long"></i></a></p>
                                   <div class="background_black">
                                        <p><a  class="link-button link-button__join-us" href="https://www.mamalbury.com.au/members">
                                        Join Us <i class="fa-solid fa-arrow-right-long"></i></a></p>
                                   <p class="join"><a class="subscription_join" href="#!"><input class="footer__subscription_submit" 
                                        type="text" id="email" name="email" placeholder="Email address" required>Join</a></p>
                                   </div>
                                   <p class="close"><a class="link-button link-button__close"  href="#!"><i class="fa-solid fa-xmark"></i> Close</a></p>
                                   <p><a class="link-button link-button__search-mama" href="#!"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Search MAMA</a></p>
                         </div><!--flex-colume for action coding part-->
                    </div><!--row flex wrapper acton screenshot and coding-->

                    <div class="row-flex row-flex__small-padding">
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Buttons: Explore mouse cusor image</h5>
                                   <img class="screen_shot_imgs component-icon_brown__2"
                                   src="img/article-icon__brown.png"
                                   alt="explore icon">
                         </div><!--colume flex-->

                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Coding: Buttons: Explore mouse cusor </h5>
                              <div class="components">
                                   <div class="container__cursor-explore">
                                   <div class="components-explore"><p class="components-explore components_circle-explore__dark-red">Explore</p></div>
                                   <div class="components-explore"><p class="components-explore components_circle-explore__warm-red">Explore</p></div>
                                   <div class="components-explore"><p class="components-explore components_circle-explore__brown">Explore</p></div>
                                   <div class="components-explore"><p class="components-explore components_circle-explore__dark-brown">&#60;  Explore  &#62;</p></div>
                                   <div class="components-explore"><p class="components-explore components_circle-explore__gray">&#60;  Explore  &#62;</p></div>
                                   <div class="components-explore"><p class="components-explore components_circle-explore__olive-green">&#60;  Explore  &#62;</p></div>
                                   </div>
                              </div><!--buttons-->
                         </div><!--colorm flex for buttons-->
                    </div><!--row flex for button-->
               </div><!--components wrapper for link. button. icon-->
               
               <div class="components">
                    <div class="row-flex row-flex__small-padding">
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Explore circle cursor with Image</h5>
                                   <img class="screen_shot_imgs screen_shot_imgs--button"
                                        src="img/visit_article.png" alt="visit article image">
                         </div><!--col flex for image-->

                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Coding: Explore circle cursor with Image</h5>
                                   <div class="article-container">
                                        <div class="img-container_zoom">
                                             <a class="img-hover" href="https://www.mamalbury.com.au/plan-your-trip">
                                             <img class="article-imgs article-imgs_zoom"
                                             src="../img/plan_your_trip.jpeg" alt="museum lounge and art in middle" data-hover="Explore"></a>
                                        </div>
                                        <div class="cursors">
                                             <div class="circle circle-explore__brown"><span class="explore"></span></div>
                                        </div>

                                        <div class="article-texts">
                                             <p class="article_title">Plan Your Trip</p>
                                             <p class="article_text">Open 7 days a week, 363 days of the year and FREE. Come enjoy a day out at the Museum with your friends and family.</p>
                                        </div><!--airticle texts flowing by image-->
                                   </div><!--airticle container-->
                         </div><!--col flex for coding-->
                    </div><!--row flex for image-->
               </div><!--components wrapper for link. button. icon-->

               <h4 class="exsample-heading">SECTION HERO </h4>
               <div class="components components-hero">
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Section Hero</h5>
                                   <img class="screen_shot_imgs screen_shot_imgs--hero"
                                        src="img/section-hero.png" alt="section hero">
                         </div><!--col flex for image-->

                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Coding: Sction Hero</h5>
                              <div class="container_hero container_hero__zoom">
                                   <a href="https://www.mamalbury.com.au/plan-your-trip">                                   
                                        <img class="article-imgs article-imgs__hero" src="../img/bound_hero.jpeg" alt="Korean petchwork">
                                   <div class="container_typo-hero">
                                        <span class="typo">
                                        <img class="typo-bound" src="../img/bound-typo-img-454x250.svg" alt="typo image bound">
                                        </span>
                                   </div></a><!--hero-bound_container-->
                              </div><!--img hero col flex-->
                         </div><!--col flex for coding-->
               </div><!--components wrapper for link. button. icon-->

               <h4 class="exsample-heading" id="">FOOTER</h4>
               <div class="components">
                    <div class="row-flex row-flex__small-padding">
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Footer navigation</h5>                         
                                   <img class="screen_shot_imgs nav-footer-list"
                                        src="img/footer_lists__about.png"
                                        alt="navigation menu">
                         </div><!--col flex for footer nav img-->          
                              
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Coding: Footer navigation </h5>
                                   <dl class="footer_contents--wrapper">
                                        <dt class="footer_contents footer_contents--heading">About</dt>
                                        <dd class="footer_contents footer_contents--list">Home</dd>
                                        <dd class="footer_contents footer_contents--list">Media</dd>
                                        <dd class="footer_contents footer_contents--list">Careers</dd>
                                        <dd class="footer_contents footer_contents--list">Accessibility</dd>
                                   </dl>
                         </div><!--col flex: coding footer nav-->
                    </div><!--row fle: for footer nav-->
               </div><!--compoents for footer nav-->
           </article>

           <article class="container">
               <h3 class="contents-heading contents-heading__top" id="page-header">Page Header</h3>
               <hr class="dividing_lines">

                    <h4 class="exsample-heading">NAVIGATION</h4>
                    <div class="components">
                         <div class="colume-flex">
                              <h5 class="compoment-detaile-headings">| Header navigation</h5>
                                   <div>
                                        <img class="screen_shot_imgs nav-top-list"
                                             src="img/nav_list-top.png"
                                             alt="navigation menu">
                                   </div>

                              <h5 class="compoment-detaile-headings">| Coding: Header navigation </h5>
                                   <div class="wrapper_nav-top wrapper_nav-top__components">
                                        <ul class="container-nav-top">
                                             <li class="nav-list"><a class="nav-list-link" href="#!">What&#39;s On</a></li>
                                             <li class="nav-list"><a class="nav-list-link" href="#!">Visit</a></li>
                                             <li class="nav-list"><a class="nav-list-link" href="#!">Explore</a></li>
                                             <li class="nav-list"><a class="nav-list-link" href="#!">Classes</a></li>
                                             <li class="nav-list"><a class="nav-list-link" href="#!">Support</a></li>
                                             <li class="nav-list"><a class="nav-list-link" href="#!">About</a></li>
                                        </ul>
                                        <div class="container-nav-top__search">
                                             <p class="nav-list"><a class="nav-list-link" href="#!" title="search"><i class="fa-solid fa-magnifying-glass"></i>  Search MAMA</a></p>
                                        </div><!--search menu wrapper-->
                                   </div><!--coding nav wrapper-->
                         </div><!--nav col wrapper-->

                         <div class="row-flex row-flex__small-padding">
                              <div class="colume-flex colume-flex__header-slideout">
                                   <h5 class="compoment-detaile-headings">| Navigation side slideout images</h5>
                                        <img class="screen_shot_imgs nav-top-slideout nav-top-slideout__visit"
                                             src="img/nav-slideout__visit.png"
                                             alt="navigation slideout menu lists">
                                        <img class="screen_shot_imgs slideout__opening-img"
                                             scrset="img/nav-slideout-opening.png 2x"
                                             src="img/nav-slideout-opening.png"
                                             alt="navigation slideout menu lists">
                              </div><!--nav left-slideout naslideoutv-->

                              <div class="colume-flex nav-slideout-wrapper"><!-- *important to remember* this is position: relative for opening hour-->
                                   <h5 class="compoment-detaile-headings">| Coding: Navigation side slideout </h5> 
                                   <div class="nav-slideout-contents-wrapper nav-slideout-contents-wrapper__components">                               
                                        <div id="nav-visit" class="nav_left_container"><!--nav slideout visit contents-->                                        
                                             <ul class="nav_left__contents-list nav_left__contents-list__components">
                                                  <li><a class="slideout_link slideout_link--plan" href="https://www.mamalbury.com.au/plan-your-trip">
                                                       Plan Your Trip</a></li>
                                                  <li><a class="slideout_link slideout_link--families-visit" href="https://www.mamalbury.com.au/kids-and-families">
                                                       Kids &#38; Families</a></li>
                                                  <li><a class="slideout_link slideout_link--shop" href="https://www.mamalbury.com.au/shop">
                                                       Shop</a></li>
                                                  <li><a class="slideout_link slideout_link--eat" href="https://www.mamalbury.com.au/eat">
                                                       Eat</a></li>
                                                  <li><a class="slideout_link slideout_link--school-visit" href="https://www.mamalbury.com.au/school-visits">
                                                       School Visits</a></li>
                                                  <li><a class="slideout_link slideout_link--venue-hire" href="https://www.mamalbury.com.au/venue-hire">
                                                       Venue Hire</a>
                                                  </li>
                                             </ul>                                        
                                        </div><!--Navigation left slideoutdiv-->

                                        <div class="slideout_nav-top__opening slideout_nav-top__opening_components">
                                             <table>
                                                  <caption class="slideout_opening-title">We are an Art Museum</caption>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Monday-Friday</th>
                                                       <td class="slideout_opening-time">10am-5pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Saturday</th>
                                                       <td class="slideout_opening-time">10am-4pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Sunday</th>
                                                       <td class="slideout_opening-time">10am-4pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Public Holidays</th>
                                                       <td class="slideout_opening-time">10am-4pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Anzac Day</th>
                                                       <td class="slideout_opening-time"></td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Christmas Closed</th>
                                                       <td class="slideout_opening-time">10am-5pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Good Friday Closed</th>
                                                       <td class="slideout_opening-time"></td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-free_entry">Free Entry</th>
                                                       <td></td>
                                                  </tr>
                                             </table>
                                        </div><!--Coding: opening hours table-->
                                   </div><!--wrapper-->
                              </div><!--col-flex - coding: nav slideout vitie contents -->
                         </div><!--row-flex - coding: nave slideout vitie contents-->
                    </div><!--components: nav warpper-->




                    <div class="components">
                         <h5 class="compoment-detaile-headings">| Header: Navigation | Side slideout | Search</h5>
                              <img class="screen_shot_imgs nav-top-header"
                                   src="img/dropdown-nav-list-img.png"
                                   alt="navigation slideout menu lists">
                         
                       <div class="component_full-width">
                         <h5 class="compoment-detaile-headings">| Coding: Navigation | Side slideout | Search</h5> 
                              <div class="component_logo_continer">
                                   <a href="index.html">                                                  
                                   <img class="fixed-logo__components" src="img/mama_logo-white.png" alt="mama logo">
                                   </a>
                              </div><!--logo container-->

                              <div class="component-container">
                                   <div class="wrapper_nav-top">
                                        <ul class="container-nav-top">
                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__whaton" onclick="openNav()">What&#39;s On</span></p></li>

                                             <li class="nav-list">
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__visit" onclick="openNav()">Visit</span></p></li>

                                             <li class="nav-list">
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__explore" onclick="openNav()">Explore</span></p></li>

                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__classes" onclick="openNav()">Classes</span></p></li>
                                             
                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__support" onclick="openNav()">Support</span></p></li>

                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__about" onclick="openNav()">About</span></p></li>
                                        </ul>

                                        <div class="container-nav-top__search">
                                             <p class="nav-list"><a class="nav-list-link" href="#!" title="search"><i class="fa-solid fa-magnifying-glass"></i>  Search MAMA</a></p>
                                        </div><!--search menu wrapper-->
                                   </div><!--wrapper_nav-top-->

                                   <div class="slideout-contents-container">
                                        <div class="nav_left_container"><!--nav slideout visit contents-->                                        
                                             <ul class="nav_left__contents-list">
                                                  <li><a class="slideout_link slideout_link--plan" href="https://www.mamalbury.com.au/plan-your-trip">
                                                       Plan Your Trip</a></li>
                                                  <li><a class="slideout_link slideout_link--families-visit" href="https://www.mamalbury.com.au/kids-and-families">
                                                       Kids &#38; Families</a></li>
                                                  <li><a class="slideout_link slideout_link--shop" href="https://www.mamalbury.com.au/shop">
                                                       Shop</a></li>
                                                  <li><a class="slideout_link slideout_link--eat" href="https://www.mamalbury.com.au/eat">
                                                       Eat</a></li>
                                                  <li><a class="slideout_link slideout_link--school-visit" href="https://www.mamalbury.com.au/school-visits">
                                                       School Visits</a></li>
                                                  <li><a class="slideout_link slideout_link--venue-hire" href="https://www.mamalbury.com.au/venue-hire">
                                                       Venue Hire</a>
                                                  </li>
                                             </ul>                                        
                                        </div><!--Navigation left slideoutdiv-->
                                        <div class="slideout_nav-top__opening">
                                             <table>
                                                  <caption class="slideout_opening-title">We are an Art Museum</caption>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Monday-Friday</th>
                                                       <td class="slideout_opening-time">10am-5pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Saturday</th>
                                                       <td class="slideout_opening-time">10am-4pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Sunday</th>
                                                       <td class="slideout_opening-time">10am-4pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Public Holidays</th>
                                                       <td class="slideout_opening-time">10am-4pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Anzac Day</th>
                                                       <td class="slideout_opening-time"></td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Christmas Closed</th>
                                                       <td class="slideout_opening-time">10am-5pm</td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-dates">Good Friday Closed</th>
                                                       <td class="slideout_opening-time"></td>
                                                  </tr>
                                                  <tr>
                                                       <th class="slideout_opening-free_entry">Free Entry</th>
                                                       <td></td>
                                                  </tr>
                                             </table>
                                        </div><!--table--> 
                                   </div><!--slideout-contents-container: contents background-->     
                              </div><!--component-container-->
                            </div><!--component_full-width-->
                    </div><!--components component_full-width-->

                    <div class="components">
                         <h5 class="compoment-detaile-headings">| Search slide down</h5>
                         <div class="">
                              <img class="screen_shot_imgs slideout__search-compo"
                              src="img/dropdown-nav__search.png"
                              alt="navigation slideout menu lists">
                         </div>

                         <div class="component_full-width">
                              <h5 class="compoment-detaile-headings">| Coding: Search slide down</h5>

                           <div class="component_full-width__black">
                              <div class="component_logo_continer">
                                   <a href="index.html">                                                  
                                   <img class="fixed-logo__components" src="../img/mama_logo_white.png" alt="mama logo">
                                   </a>
                              </div><!--logo container-->
                              <div class="component-container">
                                   <div class="wrapper_nav-top">
                                        <ul class="container-nav-top">
                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__whaton" onclick="openNav()">What&#39;s On</span></p></li>

                                             <li class="nav-list">
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__visit" onclick="openNav()">Visit</span></p></li>

                                             <li class="nav-list">
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__explore" onclick="openNav()">Explore</span></p></li>

                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__classes" onclick="openNav()">Classes</span></p></li>
                                             
                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__support" onclick="openNav()">Support</span></p></li>

                                             <li class="nav-list">                                             
                                             <p class="nav-list-link"><span class="nav-list-top nav-list__about" onclick="openNav()">About</span></p></li>
                                        </ul>

                                        <div class="container-nav-top__search">
                                             <p class="nav-list nav-list-top"><a class="nav-list-link" href="#!" title="search"><i class="fa-solid fa-magnifying-glass"></i>  Search MAMA</a></p>
                                        </div><!--search menu wrapper-->
                                   </div><!--wrapper_nav-top-->

                                   <div class="search_submit">
                                        <form>
                                             <input class="search_window" type="text" placeholder="I'm Searching for..." name="search" autofocus="autofocus">
                                        </form>
                                   </div><!--search_submit-->
                              </div><!--component-container-->
                           </div><!--component_full-width__black-->
                         </div><!--component_full-width-->
                    </div><!--components: nav warpper-->
               </article><!--navigation-->    

               <article class="container">
                    <h3 class="contents-heading contents-heading__top" id="pageheader">Page Contents</h3>
                    <hr class="dividing_lines">
     
                         <h4 class="exsample-heading">PAGES</h4>
                         <div class="components">
                                   <h5 class="compoment-detaile-headings">| Hero</h5>
                                        <div>
                                             <img class="screen_shot_imgs nav-top-list"
                                                  src="img/section-hero.png"
                                                  alt="navigation menu">
                                        </div>
                         
     
                                   <h5 class="compoment-detaile-headings">| Coding: Hero</h5>

                         </div><!--components: nav warpper-->
                    
                         <div class="components components_extended">
                                   <h5 class="compoment-detaile-headings">| Page - Classes</h5>
                                        <div>
                                             <img class="screen_shot_imgs nav-top-list"
                                                  src="img/article__classes.png"
                                                  alt="navigation menu">
                                        </div>
     
                                   <h5 class="compoment-detaile-headings">| Coding: Page - Classes</h5>

                         </div><!--components: nav warpper-->

                         <div class="components components_extended">
                              <h5 class="compoment-detaile-headings">| Page - </h5>
                                   <div>
                                        <img class="screen_shot_imgs nav-top-list"
                                             src="img/contents__support-1.png"
                                             alt="navigation menu">
                                   </div>

                              <h5 class="compoment-detaile-headings">| Coding: Page - Classes</h5>

                    </div><!--components: nav warpper-->
                    
               </article><!--page-->

            <article class="container">
               <h3 class="contents-heading contents-heading__top" id="footer">Footer</h3>
               <hr class="dividing_lines">


            </article>
          </section><!--full body wrapper-->
       </main>
    </body>
</html>

     


